body {
    background-color: pink;
}

#navbar-pinterest {
    display: inline-flex;
    flex-wrap: wrap;
    top: 0px;
    position: sticky;
}

.finder {
    width: 85vw;
    border-radius: 25px;
}

#brujula{
    padding: 20px;
    
}
#content{
display: grid;
grid-template-columns: auto auto auto auto;


}





.card-image:hover {
    background-color: aquamarine;   
   

}


.card-image{
    background-image: ;
    

}